*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  background: #131313; }

html {
  font-size: 62.5%;
  font-family: 'Montserrat'; }

.container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  position: relative; }

.link {
  text-decoration: none;
  color: #7d7d7d;
  cursor: pointer;
  z-index: 100; }

a:hover {
  color: white; }

li {
  list-style-type: none; }

@media only screen and (max-width: 1200px) {
  html {
    font-size: 56%; } }

@media only screen and (max-width: 900px) {
  html {
    font-size: 45%; } }

.header-primary {
  font-size: 10rem; }

.header-eight {
  font-size: 8rem; }

.header-secondary {
  font-size: 4.2rem;
  font-family: 'Amaranth', sans-serif;
  letter-spacing: 2px; }

.header-tertiary {
  font-size: 3.5rem;
  font-family: 'Amaranth', sans-serif; }

.sm-txt {
  font-size: 2.3rem; }

.sub-text {
  font-size: 2.3rem;
  text-indent: 1rem; }

.center {
  text-align: center; }

.light {
  font-weight: normal; }

.bold {
  font-weight: bold; }

.ls-5 {
  letter-spacing: 5px; }

.hidden {
  display: none; }

.fixed {
  position: fixed; }

.fr {
  float: right; }

table {
  width: 80%; }

.orange {
  color: #fe7011; }

.l-orange {
  color: #f98333; }

.d-gray {
  color: #676767; }

.l-gray {
  color: #7d7d7d; }

.white {
  color: #dcdcdc; }

.active {
  color: white; }
  .active:hover {
    color: darkorange; }

.pt-1 {
  padding-top: 1rem; }

.pt-3 {
  padding-top: 3rem; }

.pt-5 {
  padding-top: 5rem; }

.pt-10 {
  padding-top: 10rem; }

.pt-15 {
  padding-top: 15rem; }

.pt-25 {
  padding-top: 25rem; }

.pb-5 {
  padding-bottom: 5px; }

.pb-1 {
  padding-bottom: 1rem; }

.pl-5 {
  padding-left: 5rem; }

.separator {
  height: 2px;
  width: 100%;
  background: #fe7011; }

@keyframes slide-in {
  from {
    left: -300;
    opacity: 0; }
  to {
    left: 0;
    opacity: 1; } }

.btn {
  border: none;
  padding: 1.5rem;
  border-radius: 5px;
  width: 250px;
  font-size: 1.5rem;
  cursor: pointer;
  letter-spacing: 1px; }

.btn-orange {
  background: #fe7011; }
  .btn-orange:hover {
    background: #ff6600; }

@media only screen and (max-width: 768px) {
  .btn {
    width: 225px;
    padding: 2rem;
    font-size: 2rem; } }

.flex-row {
  display: flex; }

@media only screen and (max-width: 812px) {
  .flex-row {
    flex-direction: column; } }

.nav {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.logo-box {
  height: 140px; }
  .logo-box img {
    height: 100%; }

.footer {
  height: 150px;
  background: #181717;
  width: 100%;
  color: #f3f3f3; }
  .footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .footer__details {
    line-height: 3rem; }
    .footer__details h2 {
      cursor: pointer; }
      .footer__details h2:hover {
        color: #f98333; }
  .footer i {
    padding-right: 2rem;
    cursor: pointer; }
    .footer i:hover {
      color: #f98333; }

.menu-modal {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: #131313;
  z-index: 420;
  animation-name: slide-in;
  animation-duration: 0.4s; }
  .menu-modal .container {
    width: 100%; }
  .menu-modal h1 {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    z-index: 5; }
    .menu-modal h1:hover {
      color: #f98333; }
  .menu-modal-options {
    font-size: 3rem;
    display: flex;
    text-align: center;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center; }
    .menu-modal-options li {
      padding: 2rem;
      color: #7d7d7d; }
      .menu-modal-options li:hover {
        color: #f98333;
        cursor: pointer; }

.hero {
  height: 100vh;
  width: 100%;
  position: relative; }
  .hero::before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    cursor: pointer; }
  .hero__options {
    color: #7d7d7d;
    list-style: none;
    display: flex;
    z-index: 1; }
    .hero__options-item {
      font-size: 2rem;
      padding: 3rem; }
  .hero__video_container {
    min-width: 100%;
    position: fixed;
    top: 0;
    z-index: -999; }
    .hero__video_container video {
      margin: 0 auto;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto; }
  .hero__text-box {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #dcdcdc;
    letter-spacing: 5px; }
    .hero__text-box_btn-container {
      padding-top: 5rem;
      z-index: 1; }
  .hero__logo-container {
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 100%;
    bottom: 0; }
  .hero__hamburger-menu {
    cursor: pointer;
    z-index: 1; }
    .hero__hamburger-menu:hover .hamburger-bar {
      background: #f98333; }
  .hero .hamburger-bar {
    height: 2px;
    width: 30px;
    background: #7d7d7d;
    margin: 10px; }

@media only screen and (max-width: 768px) {
  .hero__options {
    display: none; }
  .hero__hamburger-menu {
    display: block !important; }
  .hero .header-primary {
    font-size: 6rem; }
  .hero .ls-5 {
    letter-spacing: 2px; }
  .hero__logo-box {
    height: 120px; } }

.about {
  min-height: 100%;
  background: #fe7011;
  width: 100%;
  display: block;
  padding-bottom: 10rem;
  position: relative; }
  .about__background-img {
    width: 99%;
    height: 100%;
    position: absolute;
    background: url("https://images.unsplash.com/photo-1534198557638-d4034d2b3d51?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"); }
    .about__background-img:before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      background: rgba(10, 10, 10, 0.9); }
  .about__img-container {
    height: 100%;
    width: 40%;
    position: relative; }
    .about__img-container img {
      height: 55%;
      width: 75%; }
    .about__img-container-img-one {
      position: absolute;
      top: 10rem;
      left: 0; }
    .about__img-container-img-two {
      position: absolute;
      bottom: 0rem;
      right: 0; }
  .about__content {
    height: 500px;
    width: 100%;
    padding-top: 10rem; }
    .about__content-text {
      width: 55%;
      padding-top: 5rem;
      position: relative; }
    .about__content-btn {
      position: absolute;
      right: 0;
      bottom: 0; }

@media only screen and (max-width: 1300px) {
  .about__img-container {
    width: 50%; }
  .about__content-text {
    width: 50%;
    padding-top: 3rem; } }

@media only screen and (max-width: 812px) {
  .about__img-container {
    width: 100%; }
    .about__img-container img {
      height: 100%;
      width: 100%; }
    .about__img-container-img-one {
      position: absolute;
      top: 10rem;
      left: 0; }
    .about__img-container-img-two {
      display: none; }
  .about__content {
    height: 80%; }
    .about__content .header-secondary {
      text-align: center; }
    .about__content-text {
      width: 100%;
      padding-top: 5rem;
      position: relative;
      padding-left: 0; }
    .about__content-btn-container {
      text-align: center;
      padding-top: 5rem; }
    .about__content-btn {
      position: static; } }

.contact {
  height: 100%;
  width: 100%;
  background: #0e0e0e;
  position: relative; }
  .contact__background-img {
    width: 60%;
    height: 100%;
    position: absolute;
    background: url("https://images.unsplash.com/photo-1475695752828-6d2b0a83cf8a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
    background-position: bottom; }
    .contact__background-img:before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      background-image: linear-gradient(to right, #000, #0e0e0e);
      opacity: 0.9; }
    .contact__background-img:after {
      content: '';
      position: absolute;
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); }
  .contact__content {
    height: 500px; }
    .contact__content-details {
      height: 100%;
      width: 50%; }
    .contact__content-map-location {
      background: #1e1e1e;
      height: 80%;
      width: 50%;
      align-self: center; }
  .contact iframe {
    height: 100%;
    width: 100%; }

@media only screen and (max-width: 812px) {
  .contact__content {
    height: 700px;
    padding-bottom: 4rem; }
    .contact__content-details {
      width: 100%; }
    .contact__content-map-location {
      background: #1e1e1e;
      width: 100%;
      align-self: center; }
  .contact #contact-button {
    text-align: center; }
  .contact table {
    width: 100%; } }
