*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

.container {
  padding-top: 10rem;
  width: 80%;
  margin: 0 auto; }

.link {
  text-decoration: none;
  color: #d1d1d1;
  cursor: pointer;
  z-index: 100; }

a:hover {
  color: white; }

@media only screen and (max-width: 768px) {
  html {
    font-size: 45%; } }

.header-primary {
  font-size: 8rem; }

.header-secondary {
  font-size: 4.5rem; }

.header-tertiary {
  font-size: 3rem; }

.sub-text {
  font-size: 2.3rem;
  text-indent: 2rem; }

.center {
  text-align: center; }

.light {
  font-weight: normal; }

.bold {
  font-weight: bold; }

.ls-5 {
  letter-spacing: 5px; }

.hidden {
  display: none !important; }

.fixed {
  position: fixed; }

.d-gray {
  color: #676767; }

.l-gray {
  color: #d1d1d1; }

.white {
  color: #dcdcdc; }

.pt-5 {
  padding-top: 5rem; }

.pt-25 {
  padding-top: 25rem; }

.pb-1 {
  padding-bottom: 2px; }

.pl-5 {
  padding-left: 5rem; }

.separator {
  height: 2px;
  width: 100%;
  background: #fe7011; }

.flex-row {
  display: flex; }

.btn {
  border: none;
  padding: 1.5rem;
  border-radius: 5px;
  width: 250px;
  font-size: 1.5rem;
  cursor: pointer;
  letter-spacing: 1px; }

.btn-orange {
  background: #fe7011; }
  .btn-orange:hover {
    background: #ff6600; }

@media only screen and (max-width: 768px) {
  .btn {
    width: 225px;
    padding: 2rem;
    font-size: 2rem; } }

.hero {
  height: 100vh;
  width: 100%;
  position: relative; }
  .hero::before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    cursor: pointer; }
  .hero__nav {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .hero__logo-box {
    height: 140px; }
    .hero__logo-box img {
      height: 100%; }
  .hero__options {
    color: #d1d1d1;
    list-style: none;
    display: flex;
    z-index: 1; }
    .hero__options-item {
      font-size: 2rem;
      padding: 3rem; }
  .hero__video_container {
    min-width: 100%;
    position: fixed;
    top: 0;
    z-index: -999; }
    .hero__video_container video {
      margin: 0 auto;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto; }
  .hero__text-box {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #dcdcdc;
    letter-spacing: 5px; }
    .hero__text-box_btn-container {
      padding-top: 5rem;
      z-index: 1; }
  .hero__logo-container {
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 100%;
    bottom: 0; }
  .hero__hamburger-menu {
    cursor: pointer;
    z-index: 1; }
  .hero .hamburger-bar {
    height: 2px;
    width: 30px;
    background: white;
    margin: 10px; }

@media only screen and (max-width: 768px) {
  .hero__options {
    display: none; }
  .hero .header-primary {
    font-size: 7rem; }
  .hero .ls-5 {
    letter-spacing: 2px; }
  .hero__logo-box {
    height: 120px; } }

.about {
  height: 800px;
  background: #1d1d1d;
  width: 100%; }
  .about__img-container {
    height: 400px;
    width: 40%; }
    .about__img-container img {
      height: 100%;
      width: 100%; }
  .about__content {
    height: 100%;
    width: 100%; }
    .about__content-img-container {
      width: 200px;
      height: 100%; }
    .about__content-text {
      width: 55%; }
