*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background: #131313;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
  font-family: 'Montserrat';
}

.container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.link {
  text-decoration: none;
  color: $light-gray-color;
  cursor: pointer;
  z-index: 100;
}

a:hover {
  color: white;
}

li {
  list-style-type: none;
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 56%;
  }
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 45%;
  }
}
