.header-primary {
  font-size: 8rem;
}

.header-secondary {
  font-size: 6rem;
}

.header-tertiary {
  font-size: 4rem;
}

.center {
  text-align: center;
}

.light {
  font-weight: normal;
}

.bold {
  font-weight: bold;
}
