.header-primary {
  font-size: 8rem;
}

.header-secondary {
  font-size: 4.5rem;
}

.header-tertiary {
  font-size: 3rem;
}

.sub-text {
  font-size: 2.3rem;
  text-indent: 2rem;
}
.center {
  text-align: center;
}

.light {
  font-weight: normal;
}

.bold {
  font-weight: bold;
}

.ls-5 {
  letter-spacing: 5px;
}
