.header-primary {
  font-size: 8rem;
}

.header-secondary {
  font-size: 4.2rem;
  font-family: 'Amaranth', sans-serif;
  letter-spacing: 2px;
}

.header-tertiary {
  font-size: 3rem;
  font-family: 'Amaranth', sans-serif;
}

.sm-txt {
  font-size: 2.3rem;
}

.sub-text {
  font-size: 2.3rem;
  text-indent: 1rem;
}
.center {
  text-align: center;
}

.light {
  font-weight: normal;
}

.bold {
  font-weight: bold;
}

.ls-5 {
  letter-spacing: 5px;
}
