// colors

.hidden {
  display: none !important;
}

.fixed {
  position: fixed;
}

// Color Classes

.orange {
  color: $orange-color;
}

.d-gray {
  color: $dark-gray-color;
}

.l-gray {
  color: $light-gray-color;
}

.white {
  color: $white;
}

// Padding Classes

.pt-5 {
  padding-top: 5rem;
}

.pt-25 {
  padding-top: 25rem;
}

.pb-5 {
  padding-bottom: 5px;
}

.pt-3 {
  padding-top: 3rem;
}

.pl-5 {
  padding-left: 5rem;
}

.separator {
  height: 2px;
  width: 100%;
  background: $orange-color;
}
