.hidden {
  display: none;
}

.fixed {
  position: fixed;
}

.fr {
  float: right;
}

table {
  width: 80%;
}
// Color Classes

.orange {
  color: $orange-color;
}

.l-orange {
  color: $light-orange;
}

.d-gray {
  color: $dark-gray-color;
}

.l-gray {
  color: $light-gray-color;
}

.white {
  color: $white;
}

.active {
  color: white;
  &:hover {
    color: darkorange;
  }
}

// Padding Classes
.pt-1 {
  padding-top: 1rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-5 {
  padding-top: 5rem;
}

.pt-10 {
  padding-top: 10rem;
}

.pt-15 {
  padding-top: 15rem;
}

.pt-25 {
  padding-top: 25rem;
}

.pb-5 {
  padding-bottom: 5px;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pl-5 {
  padding-left: 5rem;
}

.separator {
  height: 2px;
  width: 100%;
  background: $orange-color;
}
